<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>223-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1380},{417,274}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{417,274}}</string>
                <key>sourceSize</key>
                <string>{417,282}</string>
            </dict>
            <key>260-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2465,1588},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>261-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1949},{97,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,81}}</string>
                <key>sourceSize</key>
                <string>{97,81}</string>
            </dict>
            <key>263-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2297,1357},{277,166}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{277,166}}</string>
                <key>sourceSize</key>
                <string>{281,176}</string>
            </dict>
            <key>264-67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,655},{176,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,134}}</string>
                <key>sourceSize</key>
                <string>{176,134}</string>
            </dict>
            <key>265-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2876,1651},{195,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{195,192}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>265-71.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,655},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{139,137}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>266-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,655},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{125,135}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>267-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,655},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{140,137}}</string>
                <key>sourceSize</key>
                <string>{148,143}</string>
            </dict>
            <key>275-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2716,1914},{208,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{208,119}}</string>
                <key>sourceSize</key>
                <string>{212,123}</string>
            </dict>
            <key>275-54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,2},{433,251}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{433,251}}</string>
                <key>sourceSize</key>
                <string>{441,257}</string>
            </dict>
            <key>276-81.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,797},{603,440}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{603,440}}</string>
                <key>sourceSize</key>
                <string>{605,442}</string>
            </dict>
            <key>277-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,464}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{800,464}}</string>
                <key>sourceSize</key>
                <string>{818,476}</string>
            </dict>
            <key>277-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{425,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{425,246}}</string>
                <key>sourceSize</key>
                <string>{433,252}</string>
            </dict>
            <key>278-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1799},{265,241}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{265,241}}</string>
                <key>sourceSize</key>
                <string>{273,261}</string>
            </dict>
            <key>278-77.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1476},{471,432}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{471,432}}</string>
                <key>sourceSize</key>
                <string>{489,468}</string>
            </dict>
            <key>279-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,1137},{236,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{236,166}}</string>
                <key>sourceSize</key>
                <string>{240,170}</string>
            </dict>
            <key>280-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{523,399}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,71},{523,399}}</string>
                <key>sourceSize</key>
                <string>{569,477}</string>
            </dict>
            <key>280-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2413,1066},{262,200}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,35},{262,200}}</string>
                <key>sourceSize</key>
                <string>{284,238}</string>
            </dict>
            <key>281-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1799},{240,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,213}}</string>
                <key>sourceSize</key>
                <string>{252,225}</string>
            </dict>
            <key>282-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2076,2},{178,175}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{178,175}}</string>
                <key>sourceSize</key>
                <string>{190,185}</string>
            </dict>
            <key>282-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2926,1848},{181,178}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{181,178}}</string>
                <key>sourceSize</key>
                <string>{193,188}</string>
            </dict>
            <key>283-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1949},{110,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{110,96}}</string>
                <key>sourceSize</key>
                <string>{118,102}</string>
            </dict>
            <key>283-59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2485,1914},{132,115}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{132,115}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>284-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2602,1914},{132,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{132,112}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>284-65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,459},{226,194}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{226,194}}</string>
                <key>sourceSize</key>
                <string>{234,206}</string>
            </dict>
            <key>285-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2198,1137},{218,213}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{218,213}}</string>
                <key>sourceSize</key>
                <string>{242,227}</string>
            </dict>
            <key>285-69.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,655},{152,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{152,146}}</string>
                <key>sourceSize</key>
                <string>{166,156}</string>
            </dict>
            <key>286-79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,1187},{184,181}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{184,181}}</string>
                <key>sourceSize</key>
                <string>{196,191}</string>
            </dict>
            <key>287-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,459},{330,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{330,268}}</string>
                <key>sourceSize</key>
                <string>{346,284}</string>
            </dict>
            <key>287-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2245,182},{165,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{165,134}}</string>
                <key>sourceSize</key>
                <string>{173,142}</string>
            </dict>
            <key>288-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,785},{363,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,400}}</string>
                <key>sourceSize</key>
                <string>{363,400}</string>
            </dict>
            <key>290-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{670,621}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{670,621}}</string>
                <key>sourceSize</key>
                <string>{674,623}</string>
            </dict>
            <key>290-55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,429},{368,340}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{368,340}}</string>
                <key>sourceSize</key>
                <string>{370,342}</string>
            </dict>
            <key>297-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2465,1330},{256,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>303-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,792},{586,576}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{586,576}}</string>
                <key>sourceSize</key>
                <string>{600,578}</string>
            </dict>
            <key>303-66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1376},{384,381}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{384,381}}</string>
                <key>sourceSize</key>
                <string>{396,381}</string>
            </dict>
            <key>304-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1402},{598,578}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{598,578}}</string>
                <key>sourceSize</key>
                <string>{600,578}</string>
            </dict>
            <key>304-60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,437},{358,346}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{358,346}}</string>
                <key>sourceSize</key>
                <string>{360,346}</string>
            </dict>
            <key>316-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{650,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,651}}</string>
                <key>sourceSize</key>
                <string>{650,651}</string>
            </dict>
            <key>318-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2246,771},{293,292}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{293,292}}</string>
                <key>sourceSize</key>
                <string>{339,352}</string>
            </dict>
            <key>356-73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2076,182},{171,167}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{171,167}}</string>
                <key>sourceSize</key>
                <string>{173,169}</string>
            </dict>
            <key>401-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2220,1677},{285,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,263}}</string>
                <key>sourceSize</key>
                <string>{285,263}</string>
            </dict>
            <key>404-76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2485,1674},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,238}}</string>
                <key>sourceSize</key>
                <string>{238,238}</string>
            </dict>
            <key>415-53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2581,1330},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>418-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2095,1375},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>419-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,1762},{300,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,283}}</string>
                <key>sourceSize</key>
                <string>{300,283}</string>
            </dict>
            <key>420-91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{455,453}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{455,453}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>421-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,1187},{200,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,187}}</string>
                <key>sourceSize</key>
                <string>{200,187}</string>
            </dict>
            <key>422-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2725,1652},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>425-97.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,771},{364,234}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{364,234}}</string>
                <key>sourceSize</key>
                <string>{388,258}</string>
            </dict>
            <key>429-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1949},{256,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{256,96}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>431-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2581,1544},{200,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,106}}</string>
                <key>sourceSize</key>
                <string>{200,106}</string>
            </dict>
            <key>441-70.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,655},{140,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,79}</string>
            </dict>
            <key>80-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2783,1544},{200,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,105}}</string>
                <key>sourceSize</key>
                <string>{200,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_object.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edb298be6c9858bb12b43673f39a4f60:1/1$</string>
            <key>textureFileName</key>
            <string>plist_object.png</string>
        </dict>
    </dict>
</plist>
